// Navigation code here

    .navbar1 {
        width: 100%;

        @media @phone {
            margin: 0 auto 30px;
            margin-bottom: 0;
        }

    nav {
        .center();
        padding: 3%;
        background-color: whitesmoke;
        justify-content: space-between;
    }
         h1 {
            font-size: 4rem;
            margin-bottom: 4%;
        }

    a {
        font-size: 2rem;
        justify-content: space-between;
        text-decoration: none;
        color: black;
        flex-direction: row;
        margin-left: 30px;

        @media @phone {
            margin-left: 20px;
        }
    }
}